p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
/*##################################*/
/*##################################*/


.tmbcomment, .tmbalert, .tmbinfo, .tmbqns, .tmbcheck1, .tmbcheck2, .tmbshare, .tmbarrowF, .tmb2arrowsF {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5;
  position:relative;
}

.tmbcomment:before {
    content: "\f14d";
  font-family: FontAwesome;
    left:10px;
    position:absolute;
    font-size: 45px;
 }

.tmbalert:before {
    content: "\f06a";
  font-family: FontAwesome;
    left:10px;
    position:absolute;
    font-size: 45px;
 }

.tmbinfo:before {
    content: "\f05a";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    font-size: 45px;
 }

.tmbinfo2:before {
    content: "\10f129";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    font-size: 45px;
 }
 
.tmbarrowF:before {
    content: "\f0a9";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    font-size: 45px;
 }
 
.tmb2arrowsF:before {
    content: "\f101";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    font-size: 45px;
 }
 
.tmbshare:before {
    content: "\f064";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    font-size: 35px;
 }
 
.tmbqns:before {
    content: "\f059";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    font-size: 45px;
 }

.tmbcheck1:before {
    content: "\f14a";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    font-size: 45px;
 }
 
.tmbcheck2:before {
    content: "\f058";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    font-size: 45px;
 }